.video-wrap {
  /* Create grid spanning viewport width & height */
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  overflow: hidden;
  -webkit-box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5);
}

.video-bg {
  /* Span the full grid */
  /* grid-area: var(--fullGrid); */
  /* Re-size video to cover full screen while maintaining aspect ratio */
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* Display video below overlay */
  z-index: -1;
}

.video-bg::-webkit-media-controls {
  display: none !important;
}

.video-overlay {
  /* Span the full grid */
  grid-area: var(--fullGrid);
  /* Center Content */
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  /* Semi-transparent background */
  background-color: rgba(0, 0, 0, 0.55);
}

body {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(120deg, #defdff 0%, #48c2e9 30%, #f2fcd1 70%, #66a6ff 100%);
}

body:before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.op-title {
  margin-top: 20px;
}

.op-title img {
  width: 65%;
}

@media only screen and (max-width: 767px) {
  .op-title {
    margin-top: 50px;
  }
  .op-title img {
    width: 95%;
  }
}

.hero-content {
  position: relative;
}

.hero-content .op-wrap2 {
  margin-top: 5%;
}

.hero-content .op-wrap2 .date {
  margin-bottom: 10px;
}

.hero-content .op-wrap2 p {
  font-family: source-han-serif-tc,serif;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

@media only screen and (max-width: 767px) {
  .hero-content .op-wrap2 {
    margin-top: 30%;
  }
}

.about .block-info-1 p a {
  color: #000;
}

.about .block-info-1 p a:hover {
  color: #399bff;
}

.about .block-info-1 p strong {
  font-size: 20px;
}

.about .block-info-1 p span {
  font-size: 16px;
  margin-top: 8px;
  letter-spacing: 2px;
}

.about::before {
  content: '';
  background: url(../img/bg2.png) center 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100px;
  left: 0px;
}

@media only screen and (max-width: 767px) {
  .about::before {
    background: url(../img/bg2.png) 45% 0 no-repeat;
  }
}

.about a:hover:after, .about span a:hover:after {
  opacity: 0;
}

.live {
  width: 100%;
  position: relative;
}

.live .video-background {
  background: #000;
  z-index: -99;
}

.live .color-line {
  border: 2px solid #ee71f9;
  border-radius: 15px;
}

.live .color-line .row {
  padding: 40px 20px;
}

.live .color-line .row span {
  display: block;
  font-size: 28px;
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .live .color-line .row {
    padding: 20px;
  }
  .live .color-line .row span {
    display: inline;
  }
  .live .color-line .row .col-md-6 {
    margin: 30px auto;
  }
}

.live .img-responsive {
  margin-bottom: 20px;
}

.live .img-responsive img {
  border-radius: 15px;
}

.live .brand {
  font-size: 15px;
  margin: 0.5rem 0 0.25rem;
}

.live .award {
  font-size: 17.5px;
  line-height: 1.25;
  margin-bottom: 0.5rem;
}

.live .price {
  color: #d34adf;
  display: inline-block;
  border-radius: 290486px;
  border: 1px solid #d34adf;
  padding: 0.25rem 1rem 0.35rem;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 6px;
}

.survey {
  background: #ffffff;
}

@media only screen and (max-width: 767px) {
  .survey .pd-mb-0 {
    padding: 0px;
  }
}

.survey iframe {
  position: relative;
  background: transparent;
  margin: 0 auto;
  width: 80%;
  min-height: 100%;
  height: 730px;
}

@media only screen and (max-width: 767px) {
  .survey iframe {
    width: 100%;
    height: 730px;
  }
}

.speakers .block-info-speaker {
  top: 30px;
  left: 30px;
  position: absolute;
  z-index: 3;
  color: #fff;
  border-bottom: 1px solid #5ae1ff;
}

.speakers .block-info-2 p {
  color: #fff;
  margin-bottom: 0;
}

.speakers .arrow {
  width: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.speakers .modal.and.carousel {
  position: fixed;
}

.speakers .item {
  padding: 20px 25px;
  color: #fff;
}

.speakers .item .topic {
  margin-bottom: 20px;
}

.speakers .item .topic::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
}

.speakers .item .topic .topic-s {
  font-size: 14px;
  font-weight: 600;
}

.speakers .item h3 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .speakers .item h3 {
    font-size: 26px;
    margin-bottom: 16px;
  }
}

.speakers .item p {
  text-align: justify;
  font-size: 15px;
}

.speakers .item p .topic-t {
  font-size: 14px;
  font-weight: 600;
}

.speakers .modal.in .modal-dialog {
  height: 100vh;
  -webkit-transform: translate(0, 0%);
  transform: translate(0, 0%);
}

@media only screen and (max-width: 767px) {
  .speakers .modal.in .modal-dialog {
    height: inherit;
    padding: 15px;
    -webkit-transform: translate(0, 5%);
            transform: translate(0, 5%);
  }
}

.speakers .active {
  background-color: transparent;
}

.topics .topic-block {
  margin: auto;
}

.topics .tab-btn {
  border: none;
  background: #fff;
  padding: 11px 36px;
  border-radius: 25px;
  margin: 0 14px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 767px) {
  .topics .tab-btn {
    padding: 10px 16px;
    margin: 0 10px 18px;
  }
}

.topics .active {
  background: #399bff;
  color: #fff;
}

.topics .tab-btn:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #399bff;
  color: #fff;
}

.accom .topic-block {
  margin: auto;
}

.accom .tab-btn {
  border: none;
  background: #fff;
  padding: 11px 36px;
  border-radius: 25px;
  margin: 0 14px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 767px) {
  .accom .tab-btn {
    padding: 10px 16px;
    margin: 0 10px 18px;
  }
}

.accom .active {
  background: #399bff;
  color: #fff;
}

.accom .tab-btn:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #399bff;
  color: #fff;
}

.schedule .ticket-block .but {
  margin: 15px 30px;
}

.schedule .block-tab .block-detail span.topic-speaker {
  font-size: 15px;
  font-weight: 300;
  margin-top: 10px;
}

.tickets .block-ticket .block-price .block-type {
  font-size: 22px;
  margin-top: 30px;
}

.tickets .block-tickets {
  margin-top: 30px;
}

.tickets ul.list {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 300;
  color: #555;
  padding-left: 20px;
}

.tickets ul.list li {
  list-style: disc;
  margin-bottom: 10px;
}

.tickets2 .slides img {
  display: block;
}

@media only screen and (max-width: 767px) {
  .tickets2 .slides img {
    width: 50%;
    margin: 0 auto 30px;
  }
}

.tickets2 .review-slider li blockquote {
  padding-left: 50px;
}

@media only screen and (max-width: 767px) {
  .tickets2 .review-slider li blockquote {
    padding-left: 20px;
  }
}

.tickets2 span {
  display: block;
}

@media only screen and (max-width: 767px) {
  .tickets2 .title-lead {
    text-align: center;
  }
  .tickets2 span {
    display: inline;
    margin-right: 20px;
  }
}

.location .block-info-3 h5 {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  color: #555;
}

.location .block-info-3 h5 span {
  font-weight: 700;
  margin-right: 10px;
}

.location img.marker {
  width: 22px;
  margin-bottom: 6px;
  margin-right: 6px;
}

@media only screen and (max-width: 767px) {
  .location {
    padding-top: 0;
  }
}

.accom .sub-title-2 {
  text-align: justify;
}

.accom p.txt-p {
  font-size: 15px;
}

.accom .block-info-1 {
  margin-top: 50px;
}

@media only screen and (max-width: 767px) {
  .accom .title-lead {
    text-align: center;
  }
}

.cloud {
  position: relative;
  z-index: -1;
}

.cloud::after {
  content: '';
  background: url(../img/cloud-1.png) center no-repeat;
  background-size: contain;
  width: 800px;
  height: 432px;
  position: absolute;
  top: -190px;
  right: -300px;
}

.cloud2 {
  position: relative;
  z-index: -1;
}

.cloud2::after {
  content: '';
  background: url(../img/cloud-1.png) center no-repeat;
  background-size: contain;
  width: 1000px;
  height: 540px;
  position: absolute;
  top: -300px;
  left: -400px;
}

.cloud3 {
  position: relative;
  z-index: -1;
}

.cloud3::after {
  content: '';
  background: url(../img/bg-2.png) center bottom no-repeat;
  width: 100vw;
  height: 1000px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.6;
  text-decoration: none;
}

footer #footer_bottom {
  text-align: center;
}

footer #footer_bottom #slogan_wrapper {
  width: 100%;
  max-width: 1150px;
  height: auto;
  margin: 0 auto;
  padding: 18px 0;
  line-height: 25px;
  text-align: center;
}

footer #footer_bottom #slogan_wrapper .slogans {
  display: inline-block;
  height: 14px;
  padding: 0 8px;
  width: auto;
}

footer #footer_bottom #footer_info_wrapper {
  display: block;
  max-width: 1150px;
  margin: 0 auto;
  padding-bottom: 20px;
  line-height: 2;
  font-size: 14px;
}

footer #footer_bottom #footer_info_wrapper .footer_info_contents {
  padding: 0 10px;
}

footer #footer_bottom #footer_info_wrapper .footer_info_contents span {
  margin: 0 20px;
}

footer #footer_bottom #footer_info_wrapper .footer_info_contents a:link, footer #footer_bottom #footer_info_wrapper .footer_info_contents a:visited {
  text-decoration: none;
  outline: 0;
  color: #000;
}

footer #footer_bottom #footer_info_wrapper .footer_info_contents #copyright {
  color: #888;
  margin-top: 6px;
}

@media only screen and (max-width: 767px) {
  footer #footer_bottom #footer_info_wrapper span {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */